.cubespin{

animation:Spin  12s ease-in-out infinite  ;
transform-style: preserve-3d;
transition:2s;
margin-left: calc(50%-100px);
width:100%;
height:100%;

}

.face{

    position:absolute;
    overflow :hidden;;
transform-origin:center;

background-position: center;
background-size:contain;
/* backface-visibility: hidden; */

border:2px solid rgb(236, 230, 230);

/* background: rgba(238, 16, 16, 0.4); */
display:flex;
justify-content: center;
background:rgb(250, 252, 251);
align-items: center;
box-shadow: 0 0  20px 10px  rgb(214, 60, 21);

}

.face1{

   transform: rotateY(0deg) translateZ(7.5em);

}

.face2{

     transform: rotateY(90deg) translateZ(7.5em);

}
.face3{

  transform: rotateY(180deg) translateZ(7.5em);

}
.face4{

  transform: rotateY(-90deg) translateZ(7.5em)

}
.face5{
     transform: rotateX(-90deg) translateZ(7.5em);

}

.face6{

    transform: rotateX(90deg) translateZ(7.5em);

}

@keyframes Spin{

0%{
 transform: rotateX(-15deg) rotateY(0deg);

}
16%{
    transform: rotateX(-15deg) rotateY(90deg);

}
33%{
   transform: rotateX(-15deg) rotateY(180deg);
}


50%{
    transform: rotateX(-15deg) rotateY(270deg);
}



83%{
     transform: rotateX(-105deg) rotateY(0deg);

}
66%{

    transform: rotateX(75deg) rotateY(0deg);

}
100%{

 transform: rotateX(-15deg) rotateY(0deg);

}

}